
.utn{
    color: white;
    background-color: rgb(13, 115, 232);
    text-align: left;
    border-right: solid 150px white;
    border-left: solid 150px white;
    border-bottom: solid 1px white;
    
}

.menu {
    text-align: right;
    color: white;
    background-color: rgb(3, 3, 100);
    border-right: solid 150px white;
    border-left: solid 150px white;
    
}

.lateral{
    text-align: left;
    color: black; 
    background-color: rgb(152, 152, 152);
    padding: 40px;
}
.titulos{
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-right: solid 150px white;
    border-left: solid 150px white;
    
 /*    flex-direction: row-reverse; */
   /*  flex-direction: column; */
   /* flex-wrap: nowrap; */
   /*  flex-direction: column-reverse; */
    flex-wrap: wrap;
   /*  flex-wrap: wrap-reverse; */
   /*  justify-content: flex-start; */
   /* justify-content: center; */
/*    justify-content: flex-end; */
/*     justify-content: space-between; */
    justify-content: space-around;
}


.footer{
    text-align: center;
    color: rgb(235, 230, 230);
    background-color: rgb(104, 167, 240);
    border-right: solid 150px white;
    border-left: solid 150px white;
}
