


.utn{
    color: white;
    background-color: rgb(13, 115, 232); height: 100px;
    text-align: left;
    margin-right: 220px;
    margin-left: 220px;
    margin-bottom: 8px;
    margin-top: -22px;
}

.menu {
    text-align: right;
    color: white;
    background-color: rgb(3, 3, 100);
    margin-right: 220px;
    margin-left: 220px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}


.destacado{
    /* display: flex;
    justify-content: space-between;
    flex-grow: 0;
    align-items: stretch; */
    text-align: left; 
    margin-top: -220px;
    margin-left: 20px;
    margin-right: 185px;
    margin-bottom: 100px;
    border-top: solid 20px grey; 
    border-left: solid 20px grey;
    border-right: solid 20px grey;

}


.secciones{
    margin-top: -100px;
    margin-left: 20px;
    margin-right: 185px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: solid 10px grey; 
    border-bottom: solid 20px grey;
    border-left: solid 20px grey;
    border-right: solid 20px grey;
}
.lateral{
    color: black; 
    background-color: rgb(152, 152, 152);
    /* inline-size: 150px;writing-mode: horizontal-tb; */ 
    text-align: left; padding: 15px;
    width: 120px;
    height: 190px;
    float:right;
    margin-left: 82.5%;
    margin-top: -10px;




}
.titulos{
    
    padding: 10px 50px 20px;
    display: flex;
    flex-flow: row wrap;
    /* flex-flow: column wrap; */
    border-right: solid 150px white;
    border-left: solid 150px white;
    justify-content: space-around;


}


.footer{
    text-align: center;
    color: rgb(235, 230, 230);
    background-color: rgb(104, 167, 240);
    margin-right: 220px;
    margin-left: 220px;
    margin-top: -42px;
}


.parrafo{
    width: 875px;
}
p{
    width: 400px;
}