/* caja contenedor */
/* elemento padres */

.principal{
    border: 3px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
 /*    flex-direction: row-reverse; */
   /*  flex-direction: column; */
   /* flex-wrap: nowrap; */
   /*  flex-direction: column-reverse; */
    flex-wrap: wrap;
   /*  flex-wrap: wrap-reverse; */
   /*  justify-content: flex-start; */
   /* justify-content: center; */
/*    justify-content: flex-end; */
/*     justify-content: space-between; */
    justify-content: space-around;
}

.secciones{
    border: 2px solid green;
    margin-bottom: 10px;
}

p{
    width: 400px;
}

.secciones :hover{
    width: 120%;
    z-index: 1;
}
